.cards-wrapper[data-card='tuto'] {
   display: grid;
   gap: var(--gap-25);

   @media screen and (min-width: #{$lg} ) {
      grid-auto-flow: column;
   }
}

.cards-wrapper[data-card='resto'] {
   display: grid;
   grid-template-columns: 1fr;
   gap: var(--gap-25);

   @media screen and (min-width: #{$lg} ) {
      grid-template-columns: 1fr 1fr;
   }
}

.cards-wrapper[data-card='menu'] {
   display: grid;
   gap: var(--gap-25);

   @media screen and (min-width: #{$lg} ) {
      grid-template-columns: repeat(3, 1fr);
   }
}

@keyframes enter {
   to {
      opacity: 1;
      transform: translateY(0rem);
   }
}
.stagger {
   & > * {
      animation: enter 500ms forwards;
      opacity: 0;
      transform: translateY(2rem);

      &:nth-of-type(1) {
         animation-delay: 0ms;
      }
      &:nth-of-type(2) {
         animation-delay: 200ms;
      }
      &:nth-of-type(3) {
         animation-delay: 400ms;
      }

      &:nth-of-type(4) {
         animation-delay: 800ms;
      }
   }
}
