.cards-wrapper[data-card='tuto'] {
   display: grid;
   gap: var(--gap-25);

   @media screen and (min-width: #{$lg} ) {
      grid-auto-flow: column;
   }
}

.cards-wrapper[data-card='resto'] {
   display: grid;
   grid-template-columns: 1fr;
   gap: var(--gap-25);

   @media screen and (min-width: #{$lg} ) {
      grid-template-columns: 1fr 1fr;
   }
}

.cards-wrapper[data-card='menu'] {
   display: grid;
   gap: var(--gap-25);

   @media screen and (min-width: #{$lg} ) {
      grid-template-columns: repeat(3, 1fr);
   }
}
