.bg {
   &-background {
      background-color: var(--color-background);
   }

   &-footer {
      background-color: var(--color-footer);
   }
}

.color {
   &-background {
      color: var(--color-background);
   }
}
