.bg {
   &-background {
      background-color: var(--color-background);

      &-darker {
         background-color: var(--color-background-darker);
      }
   }

   &-footer {
      background-color: var(--color-footer);
   }
}

.color {
   &-background {
      color: var(--color-background);
   }
}
