.font {
   &-main {
      font-family: var(--font-main);
   }

   &-text {
      font-family: var(--font-text);

      &-bold {
         font-family: var(--font-text-bold);
      }
   }

   &-30 {
      font-size: var(--font-30);
   }

   &-28 {
      font-size: var(--font-28);
   }

   &-24 {
      font-size: var(--font-24);
   }

   &-18 {
      font-size: var(--font-18);
   }

   &-16 {
      font-size: var(--font-16);
   }

   &-14 {
      font-size: var(--font-14);
   }
}
