$width: 80rem;

.wrapper {
   margin: 0 auto;
   padding: 0 var(--ineline-padding, 1rem);
   max-width: $width;
}

@media screen and (min-width: $md) {
   .md\:wrapper {
      margin: 0 auto;
      padding: 0 var(--inline-padding, 1rem);
      max-width: $width;
   }
}
