:root {
   --color-primary: hsl(267, 66%, 60%);
   --color-secondary: #ff79da;
   --color-ternary: hsl(165, 56%, 74%);
   --color-ternary-darker: hsl(165, 56%, 34%);

   --color-background: #ffffff;
   --color-text: hsl(266, 10%, 22%);
   --color-background-darker: #e5e5e5;
   --color-disabled: #7e7e7e;
   --color-footer: #353535;
   --color-shadow: hsla(267, 10%, 32%, 30%);
}
