:root {
   --color-primary: #9356dc;
   --color-secondary: #ff79da;
   --color-ternary: #99e2d0;

   --color-background: #ffffff;
   --color-text: #504959;
   --color-background-darker: #e5e5e5;
   --color-disabled: #7e7e7e;
   --color-footer: #353535;
   --color-shadow: hsla(267, 10%, 32%, 30%);
}
