@font-face {
   font-family: 'Shrikhand';
   src: url('../../docs/assets/fonts/Shrikhand-Regular.ttf') format('truetype'),
      url('../../assets/fonts/Shrikhand-Regular.ttf') format('truetype');
}

body {
   font-family: 'Shrikhand';
   color: yellow;
}
