:root {
   --header-height: 6.875rem;
}

html {
   scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
   html {
      scroll-behavior: auto;
   }
}

body {
   overflow-x: hidden;
}

a {
   color: currentColor;
}

:focus {
   outline: 2px dotted var(--color-primary);
   outline-offset: 0.25rem;
}

main svg {
   width: 1rem;
}
