.card-menu {
   --size-checkbox: 1.25rem;

   display: flex;

   position: relative;
   overflow: hidden;

   border-radius: var(--radius-15);
   box-shadow: 0 5px 5px var(--color-shadow);
   background-color: var(--color-background);

   & > * {
      transition: flex 500ms ease-in-out;
   }

   &__content {
      flex: 0 0 80%;

      display: grid;
      gap: var(--gap-5);
      justify-items: baseline;

      padding: var(--gap-10);

      & h4 {
         overflow: hidden;
         white-space: nowrap;
         font-family: var(--font-text-bold);
         text-overflow: ellipsis;
         max-width: 100%;
      }

      & p {
         font-family: var(--font-text);
         font-size: var(--font-14);
         overflow: hidden;
         white-space: nowrap;
         text-overflow: ellipsis;
         max-width: 100%;
      }
   }

   &__price {
      flex: 0 0 20%;

      padding: var(--gap-10);

      font-size: var(--font-14);
      transform: translateX(0%);
      transition: transform 500ms ease;

      display: grid;
      align-items: end;
      justify-items: end;
   }

   &__icon {
      flex: var(--size-checkbox);

      display: grid;
      place-items: center;

      color: var(--color-background);
      background-color: var(--color-ternary);

      & > svg {
         width: 1.25rem;
         height: 1.25rem;

         transform: rotate(-360deg);
         transition: transform 500ms ease-in-out;

         & > circle {
            transition: fill 500ms;
            fill: white;
         }

         & > path {
            stroke: var(--color-ternary);
            stroke-dashoffset: 0;
            stroke-dasharray: 100;
            fill: none;
            animation: checked-reverse 500ms forwards;
         }
      }
   }

   &:hover > .card-menu__content,
   &:focus-within > .card-menu__content {
      flex: 0 0 65%;
   }

   &:hover > .card-menu__icon,
   &:focus-within > .card-menu__icon {
      transform: translateX(0%);
   }

   &:hover > .card-menu__icon > svg,
   &:focus-within > .card-menu__icon > svg {
      transform: rotate(0deg);
   }

   &:focus-within {
      outline: 2px dotted var(--color-primary);
      outline-offset: 0.25rem;
   }

   & input {
      opacity: 0;
      position: absolute;
      width: 0;
      height: 0;

      &:checked ~ .card-menu__icon {
         transform: translateX(0);
      }
      &:checked ~ .card-menu__icon > svg {
         transform: rotate(0deg);
      }
      &:checked ~ .card-menu__content {
         flex: 0 0 60%;
      }

      &:checked ~ .card-menu__icon > svg > circle {
         fill: hsl(170deg 100% 50%);
      }

      &:checked ~ .card-menu__icon > svg > path {
         animation: checked 500ms forwards;
      }
   }
}
