.card {
   --size-step: 1.5rem;

   display: grid;
   grid-template-columns: calc(var(--size-step) / 2) 1fr;
   grid-template-rows: 4.6875rem;

   position: relative;
   counter-increment: step;

   &::before {
      position: absolute;
      content: counter(step);
      top: 50%;
      transform: translateY(-50%);

      height: var(--size-step);
      width: var(--size-step);

      display: grid;
      place-items: center;

      border-radius: 50%;
      background-color: var(--color-primary);
      color: var(--color-background);
      font-size: var(--font-14);
   }

   &__content {
      grid-column: 2 / -1;
      grid-row: 1;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;

      padding: 1rem 1.5rem;

      background-color: var(--color-background-darker);
      border-radius: var(--radius-20);
      box-shadow: 0 5px 5px var(--color-shadow);

      & > svg {
         flex: 0 0 15%;
         height: 1.2rem;
         color: var(--color-disabled);
      }

      & > p {
         flex: 1;
      }
   }
}
