.header {
   position: sticky;
   top: 0;
   height: var(--header-height);

   display: flex;
   align-items: center;
   justify-content: center;

   background: var(--color-background);
   box-shadow: 0px 5px 5px var(--color-shadow);
}

nav {
   display: grid;
   gap: 1rem;
}
