.heart {
   height: 3rem;
   width: 2rem;
   position: relative;
   transition: transform 200ms ease;
   will-change: transform;

   &[data-absolute='abs'] {
      position: absolute;
      bottom: var(--gap-15);
      right: var(--gap-15);
   }

   &:hover > .heart__svg circle {
      transform: translateY(10px);
   }

   &:hover {
      transform: scale(1.05);
   }
}

.heart__input {
   position: absolute;

   width: 0;
   height: 0;
   opacity: 0;

   &:focus:not(:focus-visible) ~ svg {
      outline: none;
   }

   &:focus ~ svg {
      outline: 0.5px dotted var(--color-primary);
      outline-offset: 0.15rem;
      animation: scale-heart 200ms;
   }

   &:checked ~ svg > g > .heart__circle {
      transition: transform 200ms ease;
      transform: translateY(0px);
      fill: var(--color-ternary);
   }

   &:checked ~ svg line {
      animation: pop 200ms;
   }
}

.heart__svg {
   width: 100%;
   height: 100%;
   stroke: black;

   & > path {
      fill: none;
      stroke: black;
      stroke-width: 2px;
   }

   & line {
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
      stroke: var(--color-ternary);
      stroke-width: 2;
   }

   & circle {
      transition: transform 500ms ease;
      transform: translateY(20px);
      will-change: transform;
      stroke: none;
      fill: var(--color-secondary);
   }
}
