.overlay {
   position: fixed;
   height: 100%;
   width: 100%;
   background: hsl(200deg 10% 10%);
   animation: clip 500ms forwards ease;
   animation-delay: 2.5s;

   pointer-events: none;
}

.spinner {
   height: 100%;
   width: 100%;
   filter: url(#fancy-goo);
   pointer-events: none;

   display: grid;
   place-items: center;
}

.svg-wrapper {
   height: 15rem;
   width: 15rem;
   overflow: hidden;
}

.spinner svg {
   height: 100%;
   width: 100%;

   .int {
      animation: rotate 2s linear;
      transform-origin: 50px 50px;
      fill: hsl(300deg 50% 50%);
   }

   .ext {
      animation: rotate 4s linear reverse;
      transform-origin: 50px 50px;
      fill: hsl(250deg 50% 50%);
   }

   .mid {
      fill: none;
      stroke: none;
   }
}

.circles {
   animation: rotate 3s linear reverse;
   transform-origin: 50px 50px;

   & > circle {
      animation: scale 2s;
      transform-origin: center;
   }
   @for $i from 1 through 12 {
      & > circle:nth-child(#{$i}) {
         fill: hsl(250deg + $i * 4 50% 50% + $i);
         animation-delay: 200ms * $i;
      }
   }
}
