.location {
   z-index: -1;
   display: flex;
   align-items: center;
   justify-content: center;

   padding: var(--gap-15) 0;

   & svg {
      height: 0.9375rem;
   }

   &__input {
      border: none;
      background: inherit;
      text-align: center;

      &::placeholder {
         color: var(--color-text);
         text-align: center;
      }
   }
}
