.menu {
   & h3 {
      position: relative;
      text-transform: uppercase;
      padding-bottom: 5px;
      font-size: var(--font-16);
      font-family: var(--font-text);

      &::after {
         position: absolute;
         content: '';
         height: 0.125rem;
         width: 4ch;
         background-color: var(--color-ternary);

         bottom: 0;
         left: 0;
      }
   }
}
