.name {
   border-radius: var(--radius-35) var(--radius-35) 0 0;
   margin-top: calc(var(--gap-40) * -1);

   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: var(--gap-20);
   }

   & svg {
      width: 2rem;
      height: 2rem;

      & > path {
         fill: none;
         stroke: black;
      }
   }
}
